@use "variables" as *;

.btnBasis{
    a{
        padding: 15px 20px;
        background-color: $first-color;
        background-size: contain;
        color: $second-color;
        font-size: 15px;
        text-transform: uppercase;
        text-decoration: none;
        display: inline-flex;
        position: relative;
        font-family: $main-font;
        font-size: $font-size-menu;
        z-index: 0;
        i{
            padding-left: 5px;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: $second-color;
            transition: all 0.3s;
            z-index: -1;

        }
        &:hover{
            z-index: 0;
            color: $first-color;
            &::before{
                width: 100%;
            }
        }
    }
}
